body{
.Notification {
  .notice {
    background-color: #0213ff;
    color: #fff;
    text-align: center;

  }

  .alert {
    background-color: #f30000;
    color: #fff;
    text-align: center;
    margin-bottom: -16px;
    border-radius: 0;
  }
}
}
