
.header{
  background-image: image-url("00003149.jpg");
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid rgb(59, 14, 14);
  box-sizing: border-box;
  .title{
    font-size: 30px;
    font-weight: bold;
    .main-title{
      text-decoration: none;
      color: white;
      font-family: impact;
      margin-left: 50px;
    }
  }

}

.wrapper{
  background-image: image-url("Photo2.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  .post-user{
    color: white;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    .post-user-name{
      background-color: rgba(0, 0, 0, 0.418);
      text-decoration: none;
      color: white;
      
    }
  }
  .main{
    display: flex;
    flex-wrap: wrap;
      font-size: 40px;
      color: white;
      
    .contents{
      margin-top: 50px;
      margin-left: 30px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.418);
      margin-bottom: 30px;
      word-wrap: break-word;
      overflow: scroll;
      box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        border-radius: 5px;
      &__item{
        width: 300px;
        
        .content-title{
          overflow-x: scroll;
          font-size: 20px;
        }
      }
    }
  }
.pagination{
 margin-top: 10px;
 justify-content: center;
}

.post-info{
  display: flex;
  position: relative;
  margin-bottom: 20px;
  
.post-edit{
  color: white;
  text-decoration: none;
  left: -40px;
  position: absolute;
  bottom: 200px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.418);

}
}
.post-info-destroy{
  display: flex;
  position: relative;
  
.post-destroy{
  color: white;
  text-decoration: none;
  left: -40px;
  position: absolute;
  bottom: 180px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.418);
  
}
}


}
.pagination{
  
}
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: white;
  background-color: rgba(0, 0, 0, 0.418);   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: black;     /*背景の色を変える*/     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.post-text{
  font-size: 20px;
  word-wrap: break-word;
  height: 0px;
  

.post-message{
  word-wrap: break-word;
  width: 600px;
  text-align: start;
 
}
}
.post-infomation{
}

.contents-favorite{
  
      margin-top: 50px;
      
     display: flex;
      background-color: rgba(0, 0, 0, 0.418);
      word-wrap: break-word;
      overflow: scroll;
      justify-content: flex-end;
      border-radius: 5px 5px 0px 0px;
  .favorite-locks{
    margin-top: 10px;
    color: rgb(255, 93, 120);
  }
.favorite{
 margin-right: 5px;
  align-items: flex-end;
  
}
.favorite-destroy{
  color: rgb(255, 93, 120);
  text-decoration: none;
}
.favorite-create{
  color: white;
  text-decoration: none;
}
}
.contents-show{
  width: 35vw;
  
  
  text-align: center;
  background-color: rgba(0, 0, 0, 0.418);
  margin-bottom: 30px;
  word-wrap: break-word;
  overflow: scroll;
  box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        border-radius: 0px 0px 5px 5px;
}


.contents-comment{
  margin-top: 50px;
  width: 40vw;
  margin-left: 30px;
  #new_comment{
    display: flex;
  .textbox{
    font-size: 20px;
    padding-left: 5px;
    width: 40vw;
  }
  .form__submit{
    background-color: rgba(0, 175, 219, 0.527);
    color: white;
   
    
  }
}
}
.comments-use {
  font-size: 20px;
 width: 40vw;
 
 padding-top: 15px;
 padding-bottom: 15px;
 background-color: rgba(0, 0, 0, 0.418);
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}
.comments{
  background-color: rgba(0, 0, 0, 0.418);
  font-size: 20px;
  border-bottom: 1px solid gray;
  
}
.comments-index{
  background-color: rgba(0, 0, 0, 0.418);
  font-size: 30px;
  overflow-y: scroll;
  height: 500px;
  
  width: 40vw;
  box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        border-radius: 0px 0px 5px 5px;
 .post-user-name{
   color: white;
   padding-left: 10px;
   

 }
}
.post-comment{
  border-bottom: 1px solid gray;
  padding-left: 20px;
  padding-right: 5px;
  margin-top: -20px;
  font-size: 20px;
}
li.post-user-name{
  box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
        border-radius: 5px;
        display: inline-block;
       
}
#search-form{
  display: flex;
  
.search-field{
  margin-top: 30px;
  margin-left: auto;
  
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
}
.search-submit{
  font-family: FontAwesome;
  
  margin-right: auto;
  margin-top: 30px;
  width: 60px;
  border: 1px solid gray;
  color: rgb(104, 104, 104);
  background-color: rgb(238, 238, 238);
}
}
ul.post-users{
  margin-top: 20px;
  white-space: nowrap;
  
  
}

.main-contents{
  
}

.content-info{
  display: flex;
  font-size: 40px;
  color: white;
  justify-content: space-around;
}

.post-user-info{
  
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}