.new-post{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
      border-style: none;
    .post-name{
      height: 50px;
      width: 35.7vw;
      background-color:rgba(0, 0, 0, 0.432);
      color: white;
      padding: 0px 20px;
      text-align: center;
      font-size: 40px;
    }
    .post-text{
      height: 500px;
      width: 35.7vw;
      margin-top: 20px;
      background-color:rgba(0, 0, 0, 0.432);
      color: white;
      padding: 10px 20px;
     p{ 
       white-space: pre-wrap;
     }
    }
    .post-image{
      margin-top: 20px;
      .post-file{
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.432);
        color: white;
      }
    }
  }
  .submit-btn{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.432);
    width: 100px;
    height: 60px;
    font-size: 30px;
    color:white;
    margin-bottom: 20px;
  }
}

.title-asist{
  margin-top: 30px;
  color: white;
}