.wrapper
  .new-post
    = form_with model: @post, local: true do |f|
      .new-post__form
        .title-asist ※タイトルは30文字までです※
        = f.text_field :name, class: 'post-name', placeholder: 'タイトル'
        = f.text_area :text, class: 'post-text', placeholder: '本文'
      = f.submit 'EDIT', class: 'submit-btn'  
