.wrapper
  .appexplain
    .explain
      このアプリケーションの目的は、
      %br/
      最近一人行動する人々が増えてきていると思い、
      %br/
      一人行動好きが写真などを用いてコミュニケーションしたり、
      %br/
      情報の共有を目的としたアプリケーションです。
      %br/
      私自身も、一人行動が好きなので、
      %br/
      このアプリケーションを作った経緯でもあります。
      %br/
      一人行動初心者も上級者も、
      %br/
      気軽に利用していただければと思います！
      %br/
      皆様の良い一人旅を願っております。
  .photos
    = image_tag 'trip.jpg', alt: 'ひとり旅', height: '500px', width: '600px', class: 'photo'
=render "footer"